In [2]:
import pandas as pd

rows_to_keep = 43

sheet_data = pd.read_excel("https://docs.google.com/spreadsheets/d/1DuYUj2ODS8D3PWK42ZopUD1dqcg89ckI6vPn71LidGo/export?format=xlsx")
sheet_data = sheet_data.iloc[:rows_to_keep].drop(columns=["Overall % Lost", "Imgur"]).dropna(axis=1, how="all")
sheet_data = sheet_data.rename(columns={"$": "Pot Contribution", "Starting 1/1/22": "Starting Weight"})
sheet_data = sheet_data.melt(id_vars=["Participant", "Pot Contribution", "Paid?", "Starting Weight"], var_name="Date", value_name="Weight")
sheet_data = sheet_data.dropna(subset=["Weight", "Starting Weight"])
display(sheet_data)

,Participant,Pot Contribution,Paid?,Starting Weight,Date,Weight
0,uncomfortablyhigh,50.0,Yes,269,2022-01-01,269.0
1,gordogg42p,0.0,NaN,212,2022-01-01,212.0
2,corskier,50.0,Yes,256,2022-01-01,256.0
3,RLLRRR,50.0,Yes,288.4,2022-01-01,288.4
4,guinness_blaine,0.0,NaN,193,2022-01-01,193.0
...,...,...,...,...,...,...
162,Feelinminnesota,0.0,NaN,286,2022-01-21,286.0
163,Sanchito88,0.0,NaN,210,2022-01-21,210.0
164,Steampunker13,0.0,NaN,187,2022-01-21,187.0
165,bostonthebeagle,50.0,Yes,270.2,2022-01-21,270.2
171,Chrisg42,0.0,NaN,202.1,2022-01-21,200.0